header {
    background-color:#3E517A;
}

.flexbox {
    display: flex;
    justify-content:space-around;
}

.flexbox-column {
    display: flex;
    flex-direction : column;
}

#logo {
    margin-left: auto;
    margin-right: auto;
}

#sort {
    width: 100%;
    background-color: #3E517A;
    margin-left: auto;
    margin-right: auto;
    margin-top:auto;
    margin-bottom: auto;
    padding-left: 50px;
}

h1 {
    font-family: 'Comfortaa', cursive;
    text-align: center;
    color: #f9f6f1ff;
}

.label {
    font-family: 'Comfortaa', cursive;
    color: #f9f6f1ff;
    font-size: 12pt;
    padding-top: 5px;
    padding-bottom: 5px;
}

.width50 {
    width: 25%;
}

.font-source{
    font-family: 'Source Code Pro', monospace;
}