header {
    background-color:#3E517A;
}

.flexbox {
    display: grid;
    justify-content: space-around;
}

#logo {
    height: 100px;
    padding-left: 10px;
    padding-right: 10px;
}

.icones{
    height : 30px;
    padding : 2px;
}

h1 {
    font-family: 'Comfortaa', cursive;
    text-align: center;
    color: #f9f6f1ff;
}

.label {
    font-family: 'Comfortaa', cursive;
    color: #f9f6f1ff;
    font-size: 12pt;
    padding-top: 5px;
    padding-bottom: 5px;
}

.width50 {
    width: 25%;
}

.font-source{
    font-family: 'Source Code Pro', monospace;
}